.ctsrch_boxContainer {height:248px;width:298px;font-family:Arial;border:solid 1px #d9d9d9;}
.ctsrch_header {float:left;height:29px;background:#abbd65;width:100%;background-image:url('../img/blue_header.jpg');background-repeat:repeat-x;}
.ctsrch_headerText {font-size:18px;padding:2px 4px 4px 6px;color:#fff;}
.ctsrch_container {width:99%;}
.ctsrch_leftSide {float:left;width:28%;height:45px;text-align:center;padding-top:4px;}
.ctsrch_bigStar {float:left;height:51px;background-repeat:no-repeat;width:96%;margin-left:4%;}
.ctsrch_bigStar img {margin-top:3px;height:48px;width:48px;border:solid 1px #ccc;padding:3px;}
.ctsrch_bigRating {font-size:28px;width:100%;text-align:center;height:28px;overflow:hidden;}
.ctsrch_rightSide {float:left;width:64%;padding-top:4px;}
.ctsrch_mainLink {height:18px;overflow:hidden;}
.ctsrch_mainLink a {font-size:13px;color:#31647C;font-weight:700;text-decoration:none;cursor:hand;}
.ctsrch_mainLink a:hover {text-decoration:underline;}
.ctsrch_cityDistance {height:14px;}
.ctsrch_starContainer {float:left;height:16px;width:100%;}
.ctsrch_stars {float:left;height:16px;}
.ctsrch_stars .full {display:inline-block;width:12px;height:13px;margin:0;padding:0;background-image:url('../img/Star.png');}
.ctsrch_stars .half {display:inline-block;width:12px;height:13px;margin:0;padding:0;background-image:url('../img/HalfStar.png');}
.ctsrch_stars .empty {display:inline-block;width:12px;height:13px;margin:0;padding:0;background-image:url('../img/EmptyStar.png');}
.ctsrch_reviewFont {height:16px;padding:3px 0 0 5px;float:left;font-size:10px;color:#6E6E6E;font-weight:700;}
.ctsrch_lineMargin {float:left;border-bottom:1px solid #d9d9d9;width:97%;margin-left:3px;overflow:hidden;height:4px;}
.ctsrch_milesFont {text-align:center;width:100%;}
.ctsrch_cityFont {font-size:11px;color:#000;width:100%;font-weight:700;}
.ctsrch_subcategoryFont {font-size:10px;color:#000;height:14px;vertical-align:middle;margin-bottom:3px;}

.ctsrch_wideContainer {height:98px;width:643px;background-color:#F8F1D3;font-family:Arial;border:solid 1px #d9d9d9;}
.ctsrch_listing {float:left;margin:10x 0 0 13px; width:49%;}
.ctsrch_sponserText {width:99%;text-align:right;font-size:11px;padding:1px 3px 0 0;color:#6E6E6E;}

html>body .ctsrch_leftSide {width:28%;height:65px;text-align:center;padding-top:2px;}
html>body .ctsrch_subcategoryFont {font-size:10px;color:#000;height:14px;margin-bottom:1px;}
html>body .ctsrch_bigStar {height:51px;background-repeat:no-repeat;width:96%;margin-left:4%;color:#31647C;font-size:13px;font-weight:700;}
html>body .ctsrch_bigStar img {margin-top:2px;height:48px;width:48px;border:solid 1px #ccc;padding:1px;}

.ctsrch_full {float:left;width:100%;padding-top:6px;margin-left:3px;}
.ctsrch_tagLineFont {height:18px;margin-left:3px;padding-top:3px;float:left;font-family:Arial;font-size:12px;color:#6E6E6E;font-weight:700;width:100%;}

.ctsrch_descFont {height:34px;padding-top:1px;float:left;font-family:Arial;font-size:11px;width:100%;}
.ctsrch_mainLink_bf {height:18px;width:100%;}
.ctsrch_mainLink_bf a {font-family:Arial;font-size:11px;color:#31647C;font-weight:700;text-decoration:none;cursor:hand;}
.ctsrch_mainLink_bf a:hover {text-decoration:underline;}
.ctsrch_subLink_bf {height:16px;width:100%;}
.ctsrch_subLink_bf a {font-family:Arial;font-size:10px;color:#31647C;font-weight:700;text-decoration:none;cursor:hand;}
.ctsrch_subLink_bf a:hover {text-decoration:underline;}
.ctsrch_offersFont {height:16px;padding-top:1px;float:left;font-family:Arial;font-size:10px;width:100%;}

div.spacer { clear: both; line-height: 3px; height: 3px; }
div.seperator { clear: both; line-height: 1px; height: 1px;}

.review_cs_mainContainer{float:left;width:300px;height:250px}
.review_cs_header{float:left;width:297px;border:solid 1px #000000;background-color:#8c8c8c;height:20px;color:#ffffff;font-weight:bold;font-family:Arial;font-size:13px;padding:1px 0 0 3px}
.review_cs_content{float:left;width:292px;border:solid 1px #000000;height:233px;padding:4px}
.review_cs_img{float:left;width:23%;height:70px;padding:3px}
.review_cs_img img{width:70px;height:70px;}
.review_cs_ratings{float:left;width:71%;height:65px;padding:3px 3px 3px 6px}
.review_cs_time{float:left;width:100%;height:15px}
.review_cs_reviews{float:left;width:100%;height:129px}
.review_cs_reviews_thin{float:left;width:100%;height:65px}
.review_cs_share{float:left;height:18px;width:100%;}
.review_cs_share a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:11px;text-decoration:none}
.review_cs_title{float:left;height:18px;width:100%;}
.review_cs_title a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:13px;text-decoration:none}
.review_cs_address{float:left;width:100%;color:#000000;font-weight:normal;font-family:Arial;font-size:12px;text-decoration:none}
.review_cs_time{float:left;width:100%;color:#b3b3b3;font-family:Arial;font-size:12px;}
.review_cs_longTitle{float:left;width:100%;color:#4580c5;font-family:Arial;font-size:14px;padding-top:4px}
.review_cs_description{float:left;width:100%;font-family:Arial;font-size:12px;}
.review_cs_description a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:13px;text-decoration:none}

.review_cs_mainContainer_detail{float:left;width:300px;height:250px}
.review_cs_header_detail{float:left;width:297px;border:solid 1px #000000;background-color:#8c8c8c;height:20px;color:#ffffff;font-weight:bold;font-family:Arial;font-size:13px;padding:1px 0 0 3px}
.review_cs_content_detail{float:left;width:292px;border:solid 1px #000000;height:233px;padding:4px}
.review_cs_img_detail{float:left;width:50%;height:70px;padding:3px}
.review_cs_img img_detail{width:70px;height:70px;}
.review_cs_ratings_detail{float:left;width:100%;height:18px;padding:3px 3px 3px 0px}
.review_cs_time_detail{float:left;width:100%;height:15px}
.review_cs_reviews_detail{float:left;width:100%;height:129px}
.review_cs_share_detail{float:left;height:18px;width:100%;}
.review_cs_share_detail a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:11px;text-decoration:none}
.review_cs_title_detail{float:left;height:18px;width:100%;}
.review_cs_title_detail a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:13px;text-decoration:none}
.review_cs_address_detail{float:left;width:100%;color:#000000;font-weight:normal;font-family:Arial;font-size:12px;text-decoration:none}
.review_cs_time_detail{float:left;width:100%;color:#b3b3b3;font-family:Arial;font-size:12px;}
.review_cs_longTitle_detail{float:left;width:100%;color:#4580c5;font-family:Arial;font-size:14px;padding-top:4px}
.review_cs_description_detail{float:left;width:290px;height:105px;font-family:Arial;font-size:12px;overflow: auto;}
.review_cs_description_detail a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:13px;text-decoration:none}
.review_cs_close_detail{float:right;clear:right;height:18px;width:28%;}
.review_cs_close_detail a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:11px;text-decoration:none}
