/* IE Hacks */
* html .ctsrch_tallContainer {height:498px;height:expression(this.scrollHeight>497?"498px":"auto");}

/* Utility Classes */
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display:inline-block;}
.clearfix {display:block;}

/* Mantle Ads 300x250 Global Styles */
.ctsrch_boxContainer {height:248px;width:298px;overflow:hidden;font:76%/133.33% Arial,sans-serif;border:solid 1px #d9d9d9;}
.ctsrch_boxContainer .ctsrch_header {height:25px;background:#abbd65;width:100%;background:#308ebd url(../img/bg_sprites_repeat_x.png) repeat-x 0 -704px;}
.ctsrch_boxContainer .ctsrch_headerText {font-size:18px;padding:4px 4px 4px 6px;color:#fff;}
.ctsrch_boxContainer .ctsrch_container {padding:3px 10px 7px 10px;}
.ctsrch_boxContainer .ctsrch_listing {height:68px;overflow:hidden;width:99%;}
.ctsrch_boxContainer .ctsrch_leftSide {float:left;width:25%;text-align:center;}
.ctsrch_boxContainer .ctsrch_rightSide {float:left;width:70%;overflow:hidden;}
.ctsrch_boxContainer .ctsrch_lineMargin {margin:1px 0 3px -5px;height:1px;overflow:hidden;border-bottom:1px solid #d9d9d9;width:100%;}

/* Conquest Ads 645x100 Global Styles */
.ctsrch_wideContainer {height:98px;width:643px;overflow:hidden;font:76%/133.33% Arial,sans-serif;border:3px solid #52b8e9;}
.ctsrch_wideContainer .ctsrch_header {}
.ctsrch_wideContainer .ctsrch_headerText {float:left;padding:1px 0 0 20px;font-size:11px;font-weight:bold;color:#DF1400;}
.ctsrch_wideContainer .ctsrch_sponserText {float:right;font-size:11px;padding:1px 3px 0 0;color:#6E6E6E;}
.ctsrch_wideContainer .ctsrch_container {padding:0 20px 7px 20px;}
.ctsrch_wideContainer .ctsrch_listing {float:left;margin:10x 0 0 13px; width:49%;}
.ctsrch_wideContainer .ctsrch_leftSide {float:left;width:25%;text-align:center;}
.ctsrch_wideContainer .ctsrch_rightSide {float:left;width:70%;}

/* Tall Ads 300x500 Global Styles */
.ctsrch_tallContainer {max-height:498px;width:298px;overflow:hidden;font:76%/133.33% Arial,sans-serif;border:solid 1px #d9d9d9;}
.ctsrch_tallContainer .ctsrch_header {height:25px;background:#abbd65;width:100%;background:#308ebd url(../img/bg_sprites_repeat_x.png) repeat-x 0 -704px;}
.ctsrch_tallContainer .ctsrch_headerText {font-size:18px;padding:4px 4px 4px 6px;color:#fff;}
.ctsrch_tallContainer .ctsrch_container {padding:3px 10px 7px 10px;}
.ctsrch_tallContainer .ctsrch_listing {overflow:hidden;width:99%;}
.ctsrch_tallContainer .ctsrch_leftSide {float:left;width:30%;}
.ctsrch_tallContainer .ctsrch_rightSide {float:left;width:69%;overflow:hidden;}
.ctsrch_tallContainer .ctsrch_bizPhoto img {height:67px;width:67px;}

/* Nearby Places */
.ctsrch_bizPhoto img {margin-top:2px;height:47px;width:47px;border:solid 1px #ccc;padding:2px;background-color:#fff;}
.ctsrch_milesFont {margin-top:-3px;font-size:10px;color:#6E6E6E;font-weight:bold;}
.ctsrch_mainLink {white-space:nowrap;overflow:hidden;width:100%;}
.ctsrch_mainLink a {font-size:13px;color:#006699;font-weight:bold;text-decoration:none;cursor:hand;}
.ctsrch_mainLink a:hover {text-decoration:underline;}
.ctsrch_stars {float:left;}
.ctsrch_stars .full {display:inline-block;width:12px;height:13px;margin:0;padding:0;background:url('../img/Star.png') no-repeat;}
.ctsrch_stars .half {display:inline-block;width:12px;height:13px;margin:0;padding:0;background:url('../img/HalfStar.png') no-repeat;}
.ctsrch_stars .empty {display:inline-block;width:12px;height:13px;margin:0;padding:0;background:url('../img/EmptyStar.png') no-repeat;}
.ctsrch_reviewFont {float:left;margin-left:5px;font-size:10px;color:#006699;font-weight:bold;}
.ctsrch_cityFont, .ctsrch_phone {white-space:nowrap;overflow:hidden;width:100%;font-weight:bold;font-size:11px;}
.ctsrch_subcategoryFont {white-space:nowrap;overflow:hidden;width:100%;font-size:10px;}

/* Reviews */
.ctsrch_review_full {margin-top:5px;}
.ctsrch_review_double {margin:10px 0 0 5px;height:135px;overflow-y:auto;}
.ctsrch_review_single {margin-top:5px;}
.ctsrch_review_description{overflow:hidden;width:100%;font-size:11px;}
.ctsrch_review_single .ctsrch_review_description{white-space:nowrap;}
.ctsrch_review_time {color:#8d8d8d;}
.ctsrch_review_longTitle{white-space:nowrap;overflow:hidden;width:100%;}
.ctsrch_review_longTitle a {color:#4580c5;font-size:14px;text-decoration:none;}
.ctsrch_review_longTitle a:hover {text-decoration:underline;}
.ctsrch_review_readmore a {text-decoration:none;color:#4580c5;}
.ctsrch_review_readmore a:hover {text-decoration:underline;}
.ctsrch_review_proscons {font-size:11px;}
.ctsrch_review_proscons span {margin-right:5px;font-weight:bold;}
.ctsrch_review_share a {color:#4580c5;font-size:11px;text-decoration:none;}
.ctsrch_review_share a:hover {text-decoration:underline;}

/* Offers */
.ctsrch_offers .ctsrch_container {padding:12px 20px 0;}
.ctsrch_offers .ctsrch_offers_details {float:left;width:49%;}
.ctsrch_offers .ctsrch_offers_title {white-space:nowrap;overflow:hidden;width:100%;font-size:14px;font-weight:bold;}
.ctsrch_offers .ctsrch_offers_desc {font-size:12px;}
.ctsrch_offers .ctsrch_offers_print {float:right;margin-top:5px;}
.ctsrch_offers .ctsrch_offers_print a {color:#fff;padding:4px 15px;font-size:11px;font-weight:bold;text-shadow:1px 1px 2px #c63;white-space:nowrap;text-decoration:none;text-align:center;background:#ff7917 url(../img/bg_sprites_repeat_x.png) repeat-x 0 -804px;}
.ctsrch_offers .ctsrch_offers_print a:hover {color:#fff;background-position:0 -854px;background-color:#ff530a;}
.ctsrch_offers .ctsrch_listing {margin-left:2%;padding-left:1%;border-left:1px solid #52b8e9;width:46%;}
.ctsrch_offers .ctsrch_leftSide {width:40%;}
.ctsrch_offers .ctsrch_rightSide {width:59%;}
.ctsrch_offers .ctsrch_bizPhoto img {height:57px;width:94px;border:0;padding:0;}

/* Backfills & House Ads */
.ctsrch_descFont {white-space:nowrap;overflow:hidden;width:100%;font-size:11px;}
.ctsrch_descFont_bf {font-size:11px;}
.ctsrch_subLink_bf a {font-size:11px;color:#31647C;font-weight:bold;text-decoration:none;}
.ctsrch_subLink_bf a:hover {text-decoration:underline;}

/* Project Yellow Styles */
.ctsrch_yelp {height:83px;width:640px;padding:0 10px 0 10px;margin:10px 0 5px 0;overflow:hidden;background-color:#FFFADA;font:76%/133.33% Arial,sans-serif;border:0;}
.ctsrch_yelp .ctsrch_mainLink a {font-weight:bold;color:#6666CC;text-decoration:none;}
.ctsrch_yelp .ctsrch_mainLink a:hover {color:#555555;text-decoration:underline;}
.ctsrch_yelp .ctsrch_leftSide {display:none;}
.ctsrch_yelp .ctsrch_subcategoryFont {color:#999999;}