/* Utility Classes */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }

/* Mantle Ads 300x250 Global Styles */
.ctsrch_boxContainer {height:248px;width:298px;overflow:hidden;font:76%/133.33% Arial,sans-serif;border:solid 1px #d9d9d9;}
.ctsrch_boxContainer .ctsrch_header {height:25px;background:#abbd65;width:100%;background:url('../img/blue_header.jpg') repeat-x;}
.ctsrch_boxContainer .ctsrch_headerText {font-size:18px;padding:4px 4px 4px 6px;color:#fff;}
.ctsrch_boxContainer .ctsrch_container {padding:3px 10px 7px 10px;}
.ctsrch_boxContainer .ctsrch_listing {height:68px;overflow:hidden;width:99%;}
.ctsrch_boxContainer .ctsrch_leftSide {float:left;width:25%;text-align:center;}
.ctsrch_boxContainer .ctsrch_rightSide {float:left;width:70%;overflow:hidden;}
.ctsrch_boxContainer .ctsrch_lineMargin {margin:1px 0 3px -5px;height:1px;overflow:hidden;border-bottom:1px solid #d9d9d9;width:100%;}

/* Conquest Ads 645x100 Global Styles */
.ctsrch_wideContainer {height:98px;width:643px;overflow:hidden;background-color:#F8F1D3;font:76%/133.33% Arial,sans-serif;border:solid 1px #d9d9d9;}
.ctsrch_wideContainer .ctsrch_header {}
.ctsrch_wideContainer .ctsrch_headerText {float:left;padding:1px 0 0 20px;font-size:11px;font-weight:bold;color:#DF1400;}
.ctsrch_wideContainer .ctsrch_sponserText {float:right;font-size:11px;padding:1px 3px 0 0;color:#6E6E6E;}
.ctsrch_wideContainer .ctsrch_container {padding:0 20px 7px 20px;}
.ctsrch_wideContainer .ctsrch_listing {float:left;margin:10x 0 0 13px; width:49%;}
.ctsrch_wideContainer .ctsrch_leftSide {float:left;width:25%;text-align:center;}
.ctsrch_wideContainer .ctsrch_rightSide {float:left;width:70%;}

/* Nearby Places */
.ctsrch_bizPhoto img {margin-top:2px;height:47px;width:47px;border:solid 1px #ccc;padding:2px;background-color:#fff;}
.ctsrch_milesFont {margin-top:-3px;font-size:10px;color:#6E6E6E;font-weight:bold;}
.ctsrch_mainLink {white-space:nowrap;overflow:hidden;width:100%;}
.ctsrch_mainLink a {font-size:13px;color:#31647C;font-weight:bold;text-decoration:none;cursor:hand;}
.ctsrch_mainLink a:hover {text-decoration:underline;}
.ctsrch_stars {float:left;}
.ctsrch_stars .full {display:inline-block;width:12px;height:13px;margin:0;padding:0;background:url('../img/Star.png') no-repeat;}
.ctsrch_stars .half {display:inline-block;width:12px;height:13px;margin:0;padding:0;background:url('../img/HalfStar.png') no-repeat;}
.ctsrch_stars .empty {display:inline-block;width:12px;height:13px;margin:0;padding:0;background:url('../img/EmptyStar.png') no-repeat;}
.ctsrch_reviewFont {float:left;margin-left:5px;font-size:10px;color:#6E6E6E;font-weight:bold;}
.ctsrch_cityFont {white-space:nowrap;overflow:hidden;width:100%;font-weight:bold;font-size:11px;}
.ctsrch_subcategoryFont {white-space:nowrap;overflow:hidden;width:100%;font-size:10px;}

/* Reviews */
.review_cs_reviews {margin:10px 0 0 5px;height:135px;overflow-y:auto;}
.review_cs_reviews .review_cs_description{overflow:hidden;width:100%;font-size:11px;}
.review_cs_reviews_thin {margin-left:5px;}
.review_cs_reviews_thin .review_cs_description{white-space:nowrap;overflow:hidden;width:100%;font-size:11px;}
.review_cs_longTitle{white-space:nowrap;overflow:hidden;width:100%;}
.review_cs_longTitle a {color:#4580c5;font-size:12px;}
.review_cs_longTitle a:hover {text-decoration:underline;}
.review_cs_share a {color:#4580c5;font-size:11px;}

/* Offers */
.ctsrch_offers_print {padding:2px 10px;color:#fff;font-size:11px;background-color:#31647c;text-decoration:none;-moz-border-radius:4px;-webkit-border-radius:4px;}
.ctsrch_offers_title {white-space:nowrap;overflow:hidden;width:100%;font-size:11px;font-weight:bold;}
.ctsrch_offers_desc {font-size:10px;}

/* Backfills & House Ads */
.ctsrch_descFont {white-space:nowrap;overflow:hidden;width:100%;font-size:11px;}
.ctsrch_descFont_bf {font-size:11px;}
.ctsrch_subLink_bf a {font-size:11px;color:#31647C;font-weight:bold;text-decoration:none;}
.ctsrch_subLink_bf a:hover {text-decoration:underline;}

/*===== Unrefactored styles =====*/
.ctsrch_offersFont {height:16px;padding-top:1px;float:left;font-family:Arial;font-size:10px;width:100%;}

div.spacer { clear: both; line-height: 1px; height: 1px; }
div.seperator { clear: both; line-height: 1px; height: 1px;}

.review_cs_mainContainer{float:left;width:300px;height:250px}
.review_cs_header{float:left;width:297px;border:solid 1px #000000;background-color:#8c8c8c;height:20px;color:#ffffff;font-weight:bold;font-family:Arial;font-size:13px;padding:1px 0 0 3px}
.review_cs_content{float:left;width:292px;border:solid 1px #000000;height:233px;padding:4px}
.review_cs_img{float:left;width:23%;height:70px;padding:3px}
.review_cs_img img{width:70px;height:70px;}
.review_cs_ratings{float:left;width:71%;height:65px;padding:3px 3px 3px 6px}
.review_cs_time{float:left;width:100%;height:13px}

.review_cs_title{float:left;height:18px;width:100%;}
.review_cs_title a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:13px;text-decoration:none}
.review_cs_address{float:left;width:100%;color:#000000;font-weight:normal;font-family:Arial;font-size:12px;text-decoration:none}
.review_cs_time{float:left;width:100%;color:#b3b3b3;font-family:Arial;font-size:12px;}

.review_cs_description a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:13px;text-decoration:none}
.review_ctsrch_descFont {height:30px;padding-top:1px;float:left;font-family:Arial;font-size:11px;width:100%;}

.review_cs_mainContainer_detail{float:left;width:300px;height:250px}
.review_cs_header_detail{float:left;width:297px;border:solid 1px #000000;background-color:#8c8c8c;height:20px;color:#ffffff;font-weight:bold;font-family:Arial;font-size:13px;padding:1px 0 0 3px}
.review_cs_content_detail{float:left;width:292px;border:solid 1px #000000;height:233px;padding:4px}
.review_cs_img_detail{float:left;width:50%;height:70px;padding:3px}
.review_cs_img img_detail{width:70px;height:70px;}
.review_cs_ratings_detail{float:left;width:100%;height:18px;padding:3px 3px 3px 0px}
.review_cs_time_detail{float:left;width:100%;height:15px}
.review_cs_reviews_detail{float:left;width:100%;height:129px}
.review_cs_share_detail{float:left;height:18px;width:100%;}
.review_cs_share_detail a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:11px;text-decoration:none}
.review_cs_title_detail{float:left;height:18px;width:100%;}
.review_cs_title_detail a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:13px;text-decoration:none}
.review_cs_address_detail{float:left;width:100%;color:#000000;font-weight:normal;font-family:Arial;font-size:12px;text-decoration:none}
.review_cs_time_detail{float:left;width:100%;color:#b3b3b3;font-family:Arial;font-size:12px;}
.review_cs_longTitle_detail{float:left;width:100%;color:#4580c5;font-family:Arial;font-size:12px;padding-top:4px}
.review_cs_description_detail{float:left;width:290px;height:105px;font-family:Arial;font-size:12px;overflow: auto;}
.review_cs_description_detail a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:13px;text-decoration:none}
.review_cs_close_detail{float:right;clear:right;height:18px;width:28%;}
.review_cs_close_detail a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:11px;text-decoration:none}

.ctsrch_stars_hori{width:80px;}
.ctsrch_logoFont {color:#4580C5;height:12px;padding:3px 0 0 5px;float:left;font-size:7px;font-weight:700;width:105px;padding-top:9px;}
.ctsrch_logoFont_right {clear:left;color:#4580C5;height:12px;padding:7px 5px 0 0px;float:right;font-size:10px;font-weight:700;}
.ctsrch_maxStar img {margin-top:3px;height:75px;width:70px;border:solid 1px #ccc;padding:3px;}
.ctsrch_rightSideWide{float:left;width:70%;padding-top:4px;padding-right:10px}

.ctsrch_logoFont_conquestAd{color:#4580C5;float:left;font-size:9px;font-weight:700;width:95px;height:5px;padding:4px 0 0 5px;float:right;padding-right:5px;}
.ctsrch_boxContainer_conquestAd{height:99px;width:644px;font-family:Arial;border:solid 2px #4580C5;-moz-border-radius: 9px; -webkit-border-radius: 9px;}
.cs_longTitle_detail_conquestAd{float:left;width:100%;color:#4580c5;font-family:Arial;font-size:11px;padding-left:10px;}
.ctsrch_maxStar_conquestAd img{margin-top:3px;height:55px;width:130px;border:solid 1px #ccc;padding:3px;-moz-border-radius: 9px; -webkit-border-radius: 9px;}
.ctsrch_rightSideWideOffers{float:left;width:68%;padding-top:4px;padding-right:0px}

.ctsrch_starContainer_Offer {float:right;height:16px;width:69%;}
.ctsrch_cityFont_Offer {font-size:11px;color:#000;width:69%;font-weight:700;}
.ctsrch_rightSideWide_Offer{float:right;width:68%;padding-top:4px;padding-right:10px}
.ctsrch_reviewFont_Offer {height:16px;padding:3px 0 0 5px;float:right;font-size:10px;color:#6E6E6E;font-weight:700;width:33%;}

.cs_offer_review_desc{float:left;width:100%;font-family:Arial;font-size:12px;}
.cs_offer_review_title{float:left;width:100%;color:#4580c5;font-family:Arial;font-size:12px;padding:4px 0px 4px 0px;}
.cs_offer_review_share{float:left;clear:left;height:15px;width:100%;font-weight:normal;font-family:Arial;font-size:12px;padding: 5px 0px 0px 0px;}
.cs_offer_review_share a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:12px;text-decoration:none;}
.cs_offer_review_long_title{float:left;width:100%;color:#4580c5;font-family:Arial;font-size:14px;padding: 3px 0 5px 1px;}
.cs_offer_reviews{float:left;width:100%;height:110px;padding:4px 4px 0px 4px;}
.ct_offer_rightSide {float:left;width:65%;padding-top:4px;height:85px;}
.cs_offer{width:100%;padding:4px 0 0 4px;height:18px;padding:4px 0 0 4px}
.cs_offer_text{float:left;width:79%;color:#4580c5;font-family:Arial;font-size:12px;}
.cs_offer_getoffer{float:right;width:20%;}
.cs_offer_getoffer a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:12px;text-decoration:none}
.cs_offer_listing {height:18px;}
.cs_offer_listing a {font-size:13px;color:#31647C;font-weight:700;text-decoration:none;cursor:hand;}
.cs_offer_listing a:hover {text-decoration:underline;}
.cs_offer_location {font-size:11px;color:#000;width:100%;font-weight:700;height:18px;}
.cs_offer_msg {float:left;clear:left;font-size:10px;color:#000;height:22px;padding:0px 0px 0px 4px;width:100%;vertical-align:middle;}

.heading{font-size:10px;padding-left:40px;}
.distance{font-size:10px;}
.ctsrch_mainLink_conquestAd{float:left;width:60%}
.ctsrch_offer_coupon{float:right;font-size:12px;padding:4px;}

.ctsrch_offer_title_conquest{font-size:11px;float:left;width:100%;font-weight:bold;}
.ctsrch_offer_description_conquest{font-size:10px;float:left;width:100%;}

.ctsrch_getOfferButton_div{float:left;font-size:12px;margin-top:-10px;height:20px;width:100%;}
.ctsrch_getOfferButton {
    background: #660000;
    border: none;
    color: #ffffff;
    font-weight: bold;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px 5px;
    cursor: pointer;
    font-size: 10px;
    font-family: Arial;
    padding: 4px 4px 4px 4px;
    text-decoration:none;
    cursor:hand;
}
.ctsrch_offers_caption{height:18px;margin-top:-12px;font-size:11px;font-weight:bold;color:#660000;}
.ctsrch_offers_description{float:left;width:100%;padding-top:4px;}
