#cs_mainContainer{float:left;width:300px;height:250px}
#cs_header{float:left;width:297px;border:solid 1px #000000;background-color:#8c8c8c;height:20px;color:#ffffff;font-weight:bold;font-family:Arial;font-size:13px;padding:1px 0 0 3px}
#cs_content{float:left;width:292px;border:solid 1px #000000;height:233px;padding:4px}
#cs_img{float:left;width:23%;height:70px;padding:3px}
#cs_img img{width:70px;height:70px;}
#cs_ratings{float:left;width:71%;height:65px;padding:3px 3px 3px 6px}
#cs_time{float:left;width:100%;height:15px}
#cs_reviews{float:left;width:100%;height:129px}
#cs_share{float:left;height:18px;width:100%;}
#cs_share a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:13px;text-decoration:none}
#cs_title{float:left;height:18px;width:100%;}
#cs_title a {color:#4580c5;font-weight:normal;font-family:Arial;font-size:13px;text-decoration:none}
#cs_address{float:left;width:100%;color:#000000;font-weight:normal;font-family:Arial;font-size:12px;text-decoration:none}
#cs_time{float:left;width:100%;color:#b3b3b3;font-family:Arial;font-size:12px;}
#cs_longTitle{float:left;width:100%;color:#4580c5;font-family:Arial;font-size:14px;padding-top:4px}
#cs_description{float:left;width:100%;font-family:Arial;font-size:12px;}