<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>citysearch3</display-name>
  <servlet>
    <servlet-name>sample</servlet-name>
    <servlet-class>com.citysearch.servlets.SearchQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sample</servlet-name>
    <url-pattern>/SearchQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdSample</servlet-name>
    <servlet-class>com.citysearch.servlets.AdListQueryServlet</servlet-class>
    <init-param>
      <param-name>log4j-init-file</param-name>
      <param-value>/log4j.properties</param-value>
    </init-param>
    <init-param>
      <param-name>propertiesFile</param-name>
      <param-value>/images.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdSample</servlet-name>
    <url-pattern>/Nearby_Places300x250</url-pattern>
  </servlet-mapping>
  <security-role>
    <role-name>role1</role-name>
  </security-role>
  <security-role>
    <role-name>tomcat</role-name>
  </security-role>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>
    <init-param>
      <param-name>configLocation</param-name>
      <param-value>/jawr.properties</param-value>
    </init-param>
    <init-param>
      <param-name>type</param-name>
      <param-value>img</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CSSServlet</servlet-name>
    <servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>
    <init-param>
      <param-name>configLocation</param-name>
      <param-value>/jawr.properties</param-value>
    </init-param>
    <init-param>
      <param-name>type</param-name>
      <param-value>css</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSSServlet</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>*.gif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>com.citysearch.exception.CitysearchException</exception-type>
    <location>/WEB-INF/jsp/Error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>HealthCheckServlet</display-name>
    <servlet-name>HealthCheckServlet</servlet-name>
    <servlet-class>com.citysearch.servlets.HealthCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthCheckServlet</servlet-name>
    <url-pattern>/HealthCheckServlet</url-pattern>
  </servlet-mapping>
</web-app>