

.rating_bar {
  width: 70px;
  background: url(img/EmptyStar.png) 0 0 repeat-x;
}

.rating_bar div {
  height: 17px;
  background: url(img/Star.png) 0 0 repeat-x;
}

.headerStyle  {
		font-family: Arial;
		font-size: 14px;
		color:#363636;
		height:20 ; 
		background:rgb(0,255,0); 
		border-style:none;
}


a.busNameFont:link
{
		font-family: Arial;
		font-size: 12px;
		color:#31647C;
		font-weight:bold ;
		text-decoration: none;
}

a.busNameFont:visited {color: purple; text-decoration: none;font-weight:bold ;}
a.busNameFont:hover {color: red; text-decoration: underline; }
a.busNameFont:active {color: blue; }

.cityFont 
{
		font-family: Arial;
		font-size: 11px;
		color:#000000;
}

	.distanceFont 
{
		font-family: Arial;
		font-size: 14px;
		color:#a69999;		 
	width: 200;
	text-align:right;
}	

.subcategoryFont 
{
		font-family: Arial;
		font-size: 10px;
		color:#000000;
		
		
}	

.reviewFont
{
	font-family: Arial;
	font-size: 10px;
	color:#31647c;

}