<?xml version="1.0" encoding="UTF-8"?>
<web-app id="starter" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>web-widgets</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:applicationContext*.xml</param-value>
    </context-param>

    <!-- Filters -->
    <filter>
        <filter-name>action2-cleanup</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
    </filter>

    <filter>
        <filter-name>action2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>action2-cleanup</filter-name>
        <url-pattern>/actions/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>action2</filter-name>
        <url-pattern>/actions/*</url-pattern>
    </filter-mapping>

    <!-- Listeners -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Servlets & Mappings-->
    <servlet>
        <description />
        <display-name>CitySearchBootstrapServlet</display-name>
        <servlet-name>CitySearchBootstrapServlet</servlet-name>
        <servlet-class>com.citysearch.webwidget.servlet.CitySearchBootstrapServlet</servlet-class>
	   	<load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CitySearchBootstrapServlet</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>
    <servlet>
        <description />
        <display-name>HealthCheckServlet</display-name>
        <servlet-name>HealthCheckServlet</servlet-name>
        <servlet-class>com.citysearch.webwidget.servlet.HealthCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HealthCheckServlet</servlet-name>
        <url-pattern>/healthcheck</url-pattern>
    </servlet-mapping>

    <servlet>
        <description />
        <display-name>CitySearchServlet</display-name>
        <servlet-name>CitySearchServlet</servlet-name>
        <servlet-class>com.citysearch.webwidget.servlet.CitySearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CitySearchServlet</servlet-name>
        <url-pattern>/getwidget</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <description />
        <display-name>CitySearchCSSServlet</display-name>
        <servlet-name>CitySearchCSSServlet</servlet-name>
        <servlet-class>com.citysearch.webwidget.servlet.CitySearchCSSServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CitySearchCSSServlet</servlet-name>
        <url-pattern>/getcss</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>jspSupportServlet</servlet-name>
        <servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>CSSServlet</servlet-name>
        <servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>
        <init-param>
            <param-name>configLocation</param-name>
            <param-value>/jawr.properties</param-value>
        </init-param>
        <init-param>
            <param-name>type</param-name>
            <param-value>css</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CSSServlet</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    
    <servlet>
		<description>
		</description>
		<display-name>SkyNetSearchServlet</display-name>
		<servlet-name>SkyNetSearchServlet</servlet-name>
		<servlet-class>com.citysearch.webwidget.servlet.SkyNetSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SkyNetSearchServlet</servlet-name>
		<url-pattern>/getskynet</url-pattern>
	</servlet-mapping>
	
    <!-- Welcome file lists -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>